body {
    background: linear-gradient(rgb(58, 53, 53), #eee);
    /* body styles */
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    /* main container */
}

.main img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
    margin: 0 auto;
    width: 400px;
    /* flex-items styling */
}

img:hover {
    transform: scale(1.1);
    /* will scale on hovers */
}